<div class="game-container">
    <app-battle-map class="battle-map"></app-battle-map>

    <app-party-sidebar class="party-sidebar" [party]="party$ | async" [playerCharacter]="playerCharacter"
        (openPlayerPopup)="openPlayerPopup()" (targetPlayer)="onTargetPlayer($event)">
    </app-party-sidebar>

    <app-encounter-tracker></app-encounter-tracker>

    <app-chat class="chat-panel" [chatMessages$]="chatMessages$" [chatError]="chatError"
        (sendMessage)="onSendMessage($event)">
    </app-chat>

    <app-game-actions class="action-panel" (generateMap)="onGenerateMap()"
        (startEncounter)="onStartEncounter()"></app-game-actions>

    <app-player-edit-popup *ngIf="showPlayerPopup" [playerCharacter]="playerCharacter"
        (save)="onSavePlayerStats($event)" (cancel)="closePlayerPopup()">
    </app-player-edit-popup>

    <app-environment-selection-dialog *ngIf="showEnvironmentDialog" (select)="onEnvironmentSelected($event)"
        (cancel)="onEnvironmentCancel()">
    </app-environment-selection-dialog>
</div>